body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background: #f4f4f9;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

button.editando {
  background: #ffc107;
  color: #333;
}

button.editando:hover {
  background: #e0a800;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.excluir {
  margin-left: 5px;
  background: #dc3545;
}

button.editar{
  margin-left: 5px;
  background: #01a101;
}

button.editar:hover{
  margin-left: 5px;
  background: #428142;
}

button.excluir:hover {
  background: #a71d2a;
}

.curso {
  font-style: italic;
  color: gray;
}